/*/ Cambios para toda la pagina/*/
*{
    color: black;
    font-family: "Reddit Mono", monospace;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(131, 129, 129);
    
}
.subpag{
    font-family: "Reddit Mono", monospace;
    position:static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 65px;
    background-color: rgba(0, 0, 0, 0.161);
    height: fit-content;
    
}
.subpag ul{
    display: flex;
    list-style: none;
    gap: 40px;
}



/*/ HEADER /*/

.logo{
    width: 250px;
    background-image: url("../img/background.jpg");
    
}
.header{
    width: 100%;
    padding: 16px 65px;
    background-color: rgb(153, 157, 161);
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;   
    
   
    
}


.subpag{
    font-weight: bold;
    color: black;
    display: flex;
    list-style: none;
    gap: 40px;

}


/*/ MAIN /*/

.articulos-padre{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(131, 129, 129);
}

/*/ productos/*/

.product-mujer {
    background-color: rgb(97, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-weight: 300;
    flex-wrap: wrap;  
    font-size: 30px;
}

.product-hombre{
    background-color: rgb(97, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-weight: 300;
    flex-wrap: wrap;  
    font-size: 25px;
}
.product-accesorios{
    background-color: rgb(97, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-weight: 300;
    flex-wrap: wrap;  
    font-size: 25px;

}

/*/ titulos de los productos index/*/
.titulo-producto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-weight: 300;
    flex-wrap: wrap; 
    font-size: 25px; 
}
/*/ los 3 sections de todos los articulos /*/

.home-sections{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding: 20px;
    flex-direction: column;
}


.producto{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding: 20px;
    width:30%;
    margin: 10px;
    padding: 20px ;
    background-color: white;
    border-radius: 5px;
}

/*/ARTICULOS CAJA PADRE/*/
.articulos-padre{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    height: fit-content;
    background-attachment: scroll;

}



    




/*/LOG IN /*/

.login{
    font-size: large;
    font-family: "Reddit Mono", monospace;
    font-style: normal;
    text-transform: capitalize;
    text-align: center;
}

/*/REGISTER /*/

.register{
    font-size: large;
    font-family: "Reddit Mono", monospace;
    font-style: normal;
    text-transform: capitalize;
    text-align: center;
}

/*/PRODUCT DETAILS /*/

.productos{
    font-family: "Reddit Mono", monospace;
    text-transform: capitalize;
    text-align: center;
}