/*/ Cambios para toda la pagina/*/
*{
    color: black;
    font-family: "Reddit Mono", monospace;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(131, 129, 129);
    text-transform: capitalize;
}


.lista{
    font-family: "Reddit Mono", monospace;
    position:static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 65px;
    background-color: rgba(0, 0, 0, 0.161);
    height: fit-content;
}



/*/ HEADER /*/

.logo{
    width: 250px;
    background-color: hsl(196, 20%, 45%);
    
}
.header{
    padding: 16px 65px;
    background-color: rgb(153, 157, 161);
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;   
    font-size: 30px;
}
/*/Main/*/
.producto img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    object-fit: contain;
    

}
.home-sections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

/*/ FOOTER /*/
.footer , .footernom {
    pad: 16px 20px;
    background-color: white;



}
.footnom ul{
    padding: 20px;
    list-style: none;
    position: static;
    background-color: white;



}




.lista{
    font-weight: bold;
    color: black;
    display: flex;
    list-style: none;
    gap: 40px;

}


/*/ MAIN /*/

.articulos-padre{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(131, 129, 129);
    flex-direction: row;
    justify-content: space-between;
   
}
.producto{
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 30%;
    object-fit: contain;
}




/*/ productos/*/

h2 {
    
    justify-content: center;
    font-weight: 30px;
    flex-wrap: wrap;  
    font-size: 30px;
    font-family: "Reddit Mono", monospace;
    text-transform: capitalize;
    text-align: center;
        
}



/*/ PRODUCT DETAIL /*/
.buzo-detail{
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 30%;
    object-fit: contain;
}


/*/LOG IN /*/

.login{
    font-size: large;
    font-family: "Reddit Mono", monospace;
    font-style: normal;
    text-transform: capitalize;
    text-align: center;
}

/*/REGISTER /*/

.register{
    font-size: large;
    font-family: "Reddit Mono", monospace;
    font-style: normal;
    text-transform: capitalize;
    text-align: center;
}

/*/PRODUCT DETAILS /*/

/*/CART/*/

.compras {
    margin: 80px;

}

.productos2 {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    align-items: center;
    

}

.infoproducto1{
    margin: 40px;
    max-width: 200px;
}
.infoproducto2{
    margin: 100px;
    max-width: 200px

}

.imgprod1{
    width: 200px;
}

.imgprod2{
    width: 200px;
}

.imgprod3 {
    width: 200px;
}
 
.eliminar-button{
    color: rgb(75, 1, 1);
}

.compra-final{
    margin-top: 300px;
    display: flex;
    
}

.precio-total{
    font-size: large;
    
}

.comprar-button {
    background-color: rgb(210, 138, 3);
    font-size: large;

}






/*/PRUEBAS/*/

/*/ los 3 sections de todos los articulos /*/
/*/
.home-sections{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    flex-direction: row;
    width: auto;
}


.producto{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding: 20px;
    width:auto;
    margin: 10px;
    padding: 20px ;
    background-color: white;
    border-radius: 5px;
}
/*/